body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}
.containerGrid{
    display: flex;
    width: 432px;
    height: 432px;
    flex-wrap: wrap;
    background-color: #e68a8a;
}
.gridElement{
    width: 25px;
    height: 25px;
    margin: 0px;
    background-color: aqua;
    border: 1px solid black;
}